/* Approach Page Styles */
.approach-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #101522; /* Set your preferred background color */
    min-height: 100vh; /* Adjust as needed for your design */
  }
  
  .page-title {
    font-size: 36px;
    color: white;
    margin-top: 0;
    margin-bottom: 100px;
  }
  
  .approach-steps {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  

  .step {
    background-color: #fff;
    border: 10px double #ccc;
    border-radius: 50%; /* Use border-radius to create circles */
    width: 200px; /* Adjust the width as needed */
    height: 200px; /* Make it a square */
    padding: 20px;
    margin: 10px;
    box-shadow: 0 2px 5px rgb(44, 44, 44);
    transition: all 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .step:hover{
    transform: translateY(-10px);
    background-color:gold;
    
  }
  
  .step h2 {
    font-size: 24px;
    margin: 0;
  }
  
  .step p {
    font-size: 18px;
    margin: 0;
  }
  